Language: Cpp
BasedOnStyle: llvm
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
UseTab: Never
ColumnLimit: 100
SortIncludes: false
KeepEmptyLinesAtTheStartOfBlocks: false
DerivePointerAlignment: false
PointerAlignment: Right
BreakBeforeBraces: Allman
NamespaceIndentation: All
BinPackArguments: false
BinPackParameters: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowAllArgumentsOnNextLine: false
IndentPPDirectives: BeforeHash